section.vacancies
    .container
        .content
            h1.vacancies__title Список вакансий
            .vacancies__items-wrapper
                .vacancies__item
                    p.vacancies__little-title Вакансия 1
                    .vacancies__info-wrapper
                        p.vacancies__description Обязанности:
                        p.vacancies__description Условия: 
                .vacancies__item
                    p.vacancies__little-title Вакансия 1
                    .vacancies__info-wrapper
                        p.vacancies__description Обязанности:
                        p.vacancies__description Условия: 
                .vacancies__item
                    p.vacancies__little-title Вакансия 1
                    .vacancies__info-wrapper
                        p.vacancies__description Обязанности:
                        p.vacancies__description Условия: 
                .vacancies__item
                    p.vacancies__little-title Вакансия 1
                    .vacancies__info-wrapper
                        p.vacancies__description Обязанности:
                        p.vacancies__description Условия: 
                        
