section.about
    .container
        .content
            .about-background.tabs-wrapper
                h1.about__title.tabs-buttons__item.tabs-buttons__item_active(data-tab-button="1") О нас / 
                    .about__title-video.tabs-buttons__item(data-tab-button="2")(href="#") Видео
                .about-wrapper.tabs-content.tabs-content_active(data-tab-content="1")
                    .about__sidebar
                        .about__statistics.statistics
                            h2.statistics__titile 7 462
                            p.statistics__description Клиентов в год
                        .about__statistics.statistics
                            h2.statistics__titile 1300 000
                            p.statistics__description Общий тираж продукции
                        .about__statistics.statistics
                            h2.statistics__titile 99,3%
                            p.statistics__description Заказчиков готовы нас рекомендовать
                        .about__statistics.statistics
                            h2.statistics__titile 85
                            p.statistics__description Профессиональных сотрудников
                    .about__info
                        span.about__description 
                            p.about__para «Паблит» это современное полиграфическое предприятие, с 2015 года ориентированное на выпуск книжной и рекламной продукции.
                            p.about__para В сотрудничестве с нашими заказчиками мы индивидуально подходим к каждому проекту. Работаем на долгосрочную перспективу и предлагаем оптимальные решения. Наши книги комфортно читать, ведь большая оптическая плотность по черному цвету сопоставима с офсетной печатью.
                            p.about__para Цифровые печатные машины OCE и Canon, установленные в нашей типографии способны производить в месяц до 60 000 000 оттисков. Внедрение инновационных технологий позволяет нам быть одной из ведущих компаний на полиграфическом рынке.
                            p.about__para Мы работаем 7 дней в неделю, чтобы Вы получили продукцию в кратчайшие сроки.
                        img.about__img(src="./img/about.png", alt="")
                .about-wrapper.tabs-content(data-tab-content="2")
                    .video__player-wrapper.js-videoWrapper
                        iframe.video__iframe.js-videoIframe(src='', frameborder='0', allowtransparency='true', allowfullscreen='', data-src='https://www.youtube.com/embed/2OEL4P1Rz04')
                        button.about__poster.video__poster.js-videoPoster



