section.about
    .container
        .content
            .about-background
                h1.about__title О нас / 
                    a.about__video(href="#") Видео
                .about-wrapper
                    .about__sidebar
                        .about__statistics.statistics
                            h2.statistics__titile 7 462
                            p.statistics__description Клиентов в год
                        .about__statistics.statistics
                            h2.statistics__titile 1300 000
                            p.statistics__description Общий тираж продукции
                        .about__statistics.statistics
                            h2.statistics__titile 99,3%
                            p.statistics__description Заказчиков готовы нас рекомендовать
                        .about__statistics.statistics
                            h2.statistics__titile 85
                            p.statistics__description Профессиональных сотрудников
                    .about__info
                        span.about__description 
                            p.about__para «Паблит» это современное полиграфическое предприятие, с 2015 года ориентированное на выпуск книжной и рекламной продукции.
                            p.about__para В сотрудничестве с нашими заказчиками мы индивидуально подходим к каждому проекту. Работаем на долгосрочную перспективу и предлагаем оптимальные решения. Наши книги комфортно читать, ведь большая оптическая плотность по черному цвету сопоставима с офсетной печатью.
                            p.about__para Цифровые печатные машины OCE и Canon, установленные в нашей типографии способны производить в месяц до 60 000 000 оттисков. Внедрение инновационных технологий позволяет нам быть одной из ведущих компаний на полиграфическом рынке.
                            p.about__para Мы работаем 7 дней в неделю, чтобы Вы получили продукцию в кратчайшие сроки.
                        img.about__img(src="./img/about.png", alt="")



