.black-bar
    .container
        .content
            p.black-bar__date © Паблит 2020
            .black-bar__item-wrapper
                a.black-bar__write(href="") Написать
                .search-wrapper
                    img.search.black-bar__search(src="./img/icons/magnifier.svg", alt="Поиск")
            