.canon
    .container
        .content
            h1.canon__title Canon - наш официальный партнер
            p.canon__subtitle.subtitle Оборудование Canon обеспечивает превосходное качество изображения и оптимизированную скорость печати
            a.canon__button.white-button Подробнее
            .canon__img-wrapper
                img.canon__img(src="./img/canon.png", alt="canon")