section.cases
    .container
        .content
            h2.cases__title Кейсы
            ul.cases__menu.menu
                li
                    a(href="#").cases__item Издания в переплете 
                li
                    a(href="#").cases__item Издания в обложке 
                li
                    a(href="#").cases__item Рекламная продукция 
                li
                    a(href="#").cases__item Прочие услуги
              
            .cases__slider
                .cases__card
                    img(src="./img/cases/cases-1.png", alt="").cases__img
                .cases__card
                    img(src="./img/cases/cases-2.png", alt="").cases__img
                .cases__card
                    img(src="./img/cases/cases-3.png", alt="").cases__img
                .cases__card
                    img(src="./img/cases/cases-4.png", alt="").cases__img
        .cases__card.cases__card_last
            img(src="./img/cases/cases-2.png", alt="").cases__img
            .arrow-wrapper.cases__arrow
                .border-arrow
                    .arrow.arrow__big