section.cases
    .container
        .content
            h1.cases__title Кейсы
            ul.cases__menu.menu
                li
                    a(href="#").cases__item.cases__item_active Издания в переплете 
                li
                    a(href="#").cases__item Издания в обложке 
                li
                    a(href="#").cases__item Рекламная продукция 
                li
                    a(href="#").cases__item Прочие услуги
              
            .cases__slider
                a(href="./case.html").cases__card
                    img(src="./img/cases/bound-editions/case-1/cases-1.png", alt="").cases__img
                a(href="./case.html").cases__card
                    img(src="./img/cases/bound-editions/cases-2.png", alt="").cases__img
                a(href="./case.html").cases__card
                    img(src="./img/cases/bound-editions/cases-3.png", alt="").cases__img
                a(href="./case.html").cases__card
                    img(src="./img/cases/bound-editions/cases-4.png", alt="").cases__img
                a(href="./cases.html").cases__card.cases__card_last
                    img(src="./img/cases/bound-editions/cases-5.png", alt="").cases__img
                    .arrow-wrapper.cases__arrow
                        .border-arrow
                            .arrow.arrow__big
