section.equipment
    .container
        .content
            h1.equipment__title Наше оборудование
            .equipment__wrapper
                .equipment__sidebar
                    .equipment__item
                        img(src="./img/equipment/equipment-1.png", alt="").equipment__img
                        p.equipment__description Цветная цифровая печатная машина imagePress C 8000VP
                    .equipment__item
                        img(src="./img/equipment/equipment-2.png", alt="").equipment__img
                        p.equipment__description Трехножевой автомат HD142.P фирмы Kolbus. заводской номер540
                    .equipment__item
                        img(src="./img/equipment/equipment-3.png", alt="").equipment__img
                        p.equipment__description Ролевая печатная машина OCE Colorstream 6000
                    .equipment__item
                        img(src="./img/equipment/equipment-4.png", alt="").equipment__img
                        p.equipment__description Ниткошвейная машина для книжных блоков фирмы Meccanotecnica S.p.A Universe, заводской номер3F14091
                    .equipment__item
                        img(src="./img/equipment/equipment-5.png", alt="").equipment__img
                        p.equipment__description Высокопроизводительный принтер JCE VARIO PRINT 6250 REMAN
                .equipment__full-wrapper
                    img(src="./img/equipment/equipment-5.png", alt="").equipment__full-img
                    a(href="./equipment.html").equipment__more.note Весь список оборудования