footer.footer
    .container
        .content
            .footer__column
                .footer__item
                    img.footer__logo.logo(src="./img/logo.png", alt="")
                    p.footer__contacts г. Москва ул. Полярная, 31В, стр.1
                    a.footer__contacts.footer__big-item(href="tel:84952302052") 8 (495) 230-20-52
                    a.footer__contacts(href="mailto:info@publitprint.ru") info@publitprint.ru 
                    p.footer__contacts Пн-Пт с 9:00 до 18:00
            .footer__column
                .footer__item
                    h6.footer__little-title Компания
                    a.footer__thin-text(href="#") О компании
                    a.footer__thin-text(href="#") Партнеры
                    a.footer__thin-text(href="#") Отзывы
                    a.footer__thin-text(href="#") Вакансии
                    a.footer__thin-text(href="#") Фото
                .footer__item
                    h6.footer__little-title Книги и журналы
                    a.footer__thin-text(href="#") Печать книг
                    a.footer__thin-text(href="#") Печать журналов
                    a.footer__thin-text(href="#") Печать каталогов
                    a.footer__thin-text(href="#") Печать брошюр
                .footer__item
                    h6.footer__little-title Допечатная подготовка
                    a.footer__thin-text(href="#") Дизайн обложки
                    a.footer__thin-text(href="#") Набор текста
                    a.footer__thin-text(href="#") Верстка
                    a.footer__thin-text(href="#") Корректура
                    a.footer__thin-text(href="#") Редактура
            .footer__column
                .footer__item
                    a.footer__thin-text.m-t-10(href="#") Присвоение ISBN
                    a.footer__thin-text(href="#") Присвоение УДК, ББК, Авторский знак
                    a.footer__thin-text(href="#") Формирование штрихкода
                .footer__item
                    h6.footer__little-title Послепечатная обработка
                    a.footer__thin-text(href="#") Клеевое Бесшвейное Скрепление (КБС) 
                    a.footer__thin-text(href="#") Переплет 7БЦ
                    a.footer__thin-text(href="#") Шитье скобой (ВШРА)
                    a.footer__thin-text(href="#") Скрепление блока на пружину
                    a.footer__thin-text(href="#") УФ лак
                    a.footer__thin-text(href="#") Тиснение
                    a.footer__thin-text(href="#") Высечка
                    a.footer__thin-text(href="#") Покрытие Soft Touch Ламинация
                .footer__item
                    h6.footer__little-title Рекламная продукция
                    a.footer__thin-text(href="#") Визитки
                    a.footer__thin-text(href="#") Календари
                    a.footer__thin-text(href="#") Листовки и флаеры
            .footer__column
                .footer__item
                    a.footer__thin-text(href="#") Буклеты
                    a.footer__thin-text(href="#") Открытки и приглашения
                    a.footer__thin-text(href="#") Блокноты
                    a.footer__thin-text(href="#") Конверты
                    a.footer__thin-text(href="#") Бланки
                    a.footer__thin-text(href="#") Папки
                    a.footer__thin-text(href="#") Пакеты
                .footer__item
                    h6.footer__little-title Дизайн
                    a.footer__thin-text(href="#") Дизайн и верстка
                    a.footer__thin-text(href="#") Обработка фото
                    a.footer__thin-text(href="#") Ретушь
                .footer__item
                    h6.footer__little-title Цифровая печать
                    a.footer__thin-text(href="#") Цифровая листовая цветная<br>печать
                    a.footer__thin-text(href="#") Цифровая листовая черно-белая<br>печать
                    a.footer__thin-text(href="#") Шитье скобой (ВШРА)
                    a.footer__thin-text(href="#") Рулонная цифровая черно-белая<br>печать
            .footer__column
                .footer__item
                    h6.footer__little-title Прочие услуги
                    a.footer__thin-text(href="#") Вклейка рекламных страниц
                    a.footer__thin-text(href="#") Переклейка титула
                    a.footer__thin-text(href="#") Ответственное хранение на<br>собственном складе
                    a.footer__thin-text(href="#") Рассылка обязательных экземпляров
                    a.footer__thin-text(href="#") Доставка по России и зарубеж
                    a.footer__thin-text(href="#") Почтовая рассылка
                    a.footer__thin-text(href="#") Личное присутствие при печати





            