section.gratitude
    .container
        .content
            h1.gratitude__title Отзывы о Паблит
            p.gratitude__subtitle.subtitle За 4 года мы стали сотрудничать на постоянной основе со многими 
                                        |московскими издательствами и учебными заведениями.
                                        |К нам обращаются корпоративные клиенты и отдельные авторы.
                                        |Посмотрите отзывы – что говорят клиенты о качестве наших услуг и почему 
                                        |они выбирают типографию «Паблит»
            .gratitude__item.gratitude__item_active
                img(src="./img/review.png", alt="").gratitude__img
                .gratitude__info
                    h2.gratitude__info-title ООО “ДеЛи плюс”
                    blockquote.gratitude__description <b>Уважаемые коллеги!</b><br>
                                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam tenetur nostrum ab voluptatum quam, sunt architecto accusamus aliquid quisquam iure repudiandae illum veniam magnam magni, numquam ipsam deleniti quasi perspiciatis!<br>
                                        |<p>Удачи во всем!</p>
                    a(href="./reviews.html").gratitude__more.note Все отзывы
            .gratitude__item
                img(src="./img/review.png", alt="").gratitude__img
                .gratitude__info
                    h2.gratitude__info-title ООО “ДеЛи плюс”
                    blockquote.gratitude__description <b>Уважаемые коллеги!</b><br>
                                        |Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Скатился, назад города! Домах океана парадигматическая однажды, пор строчка вершину безопасную предупредила вопроса он имеет подзаголовок составитель алфавит ему встретил?<br>
                                        |<p>Удачи во всем!</p>
                    a(href="./reviews.html").gratitude__more.note Все отзывы
            .gratitude__item
                img(src="./img/review.png", alt="").gratitude__img
                .gratitude__info
                    h2.gratitude__info-title ООО “ДеЛи плюс”
                    blockquote.gratitude__description <b>Уважаемые коллеги!</b><br>
                                        |Хотим выразить слова благодарности и признательности в адрес ООО Типографии “Паблит”. 
                                        |От сотрудничества с вашей типографией у нас остаются только самые лучшие впечатления. 
                                        |Все работы выполняются на высшем уровне и в короткие сроки, качество 
                                        |продукции остается превосходным.<br>
                                        |<p>Удачи во всем!</p>
                    a(href="./reviews.html").gratitude__more.note Все отзывы
            .gratitude__item
                img(src="./img/review.png", alt="").gratitude__img
                .gratitude__info
                    h2.gratitude__info-title ООО “ДеЛи плюс”
                    blockquote.gratitude__description <b>Уважаемые коллеги!</b><br>
                                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae architecto vero sequi deleniti maxime animi quasi aut mollitia nostrum, repudiandae, repellendus temporibus atque dolorem inventore quidem veniam fuga veritatis corrupti!<br>
                                        |<p>Удачи во всем!</p>
                    a(href="./reviews.html").gratitude__more.note Все отзывы
            .gratitude__item
                img(src="./img/review.png", alt="").gratitude__img
                .gratitude__info
                    h2.gratitude__info-title ООО “ДеЛи плюс”
                    blockquote.gratitude__description <b>Уважаемые коллеги!</b><br>
                                        |Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Скатился, назад города! Домах океана парадигматическая однажды, пор строчка вершину безопасную предупредила вопроса он имеет подзаголовок составитель алфавит ему встретил?<br>
                                        |<p>Удачи во всем!</p>
                    a(href="./reviews.html").gratitude__more.note Все отзывы
    .arrow-wrapper.gratitude__arrow
        .border-arrow_black
            .arrow_black.arrow__big


