header.header
    .container
        .content
            .header__item
                a(href="./index.html")
                    img.header__logo.logo(src="./img/logo.png", alt="Паблит")
                .menu-wrapper
                    ul.header__menu.menu
                        li.menu__item
                            a(href="./services.html") Услуги
                        li.menu__item
                            a(href="./company.html") Компания
                        li.menu__item
                            a(href="#") Цены
                        li.menu__item
                            a(href="#") Отзывы
                        li.menu__item
                            a(href="#") Кейсы
                        li.menu__item
                            a(href="./contacts.html") Контакты
                    .search-wrapper
                        img.search(src="./img/icons/magnifier.svg", alt="Поиск")
            .header__item
                a.header__number.number(href="tel:+78129283637") 8 (812) 928-36-37