header.header
    .container
        .content
            .header__item
                a(href="./index.html")
                    img.header__logo.logo(src="./img/logo.png", alt="Паблит")
                .menu-wrapper
                    ul.header__menu.menu
                        li.menu__item
                            a(href="./services.html") Услуги
                        li.menu__item
                            a(href="./company.html") Компания
                        li.menu__item
                            a(href="./prices.html") Цены
                        li.menu__item
                            a(href="./reviews.html") Отзывы
                        li.menu__item
                            a(href="./cases.html") Кейсы
                        li.menu__item
                            a(href="./contacts.html") Контакты
                    .burger-menu
                        img.burger-menu__img(src="./img/icons/menu.png", alt="Меню")
                        ul.burger-menu__info#burger-menu
                            li.burger-menu__item
                                a(href="./services.html") Услуги
                            li.burger-menu__item
                                a(href="./company.html") Компания
                            li.burger-menu__item
                                a(href="./prices.html") Цены
                            li.burger-menu__item
                                a(href="./reviews.html") Отзывы
                            li.burger-menu__item
                                a(href="./cases.html") Кейсы
                            li.burger-menu__item
                                a(href="./contacts.html") Контакты
                            li.burger-menu__item
                                a(href="tel:+78129283637") 8 (812) 928-36-37
                    .search-wrapper
                        img.search(src="./img/icons/magnifier.svg", alt="Поиск")
            .header__item
                a.header__number.number(href="tel:+78129283637") 8 (812) 928-36-37