section.partners
    .container
        .content
            .partners__content-wrapper
                .partners__info
                    h1.partners__title С нами работают
                    p.partners__subtitle.subtitle Партнеры, которые  нам доверяют
                    .partners__button.white-button Начать сотрудничать
                .partners__logo-wrapper
                    img.partners__logo(src="./img/partners/partners-1.png", alt="")
                    img.partners__logo(src="./img/partners/partners-2.png", alt="")
                    img.partners__logo(src="./img/partners/partners-3.png", alt="")
                    img.partners__logo(src="./img/partners/partners-4.png", alt="")
                    img.partners__logo(src="./img/partners/partners-4.png", alt="")
                    img.partners__logo(src="./img/partners/partners-5.png", alt="")
                a(href="./partners.pug").partners__more.note Все партнеры
