section.reviews
    .container
        .content
            h1.reviews__title Отзывы о Паблит
            p.reviews__subtitle.subtitle За 4 года мы стали сотрудничать на постоянной основе со многими 
                                        |московскими издательствами и учебными заведениями.
                                        |К нам обращаются корпоративные клиенты и отдельные авторы.
                                        |Посмотрите отзывы – что говорят клиенты о качестве наших услуг и почему 
                                        |они выбирают типографию «Паблит»
            .reviews__item
                img(src="./img/review.png", alt="").reviews__img
                .reviews__info
                    h2.reviews__info-title ООО “ДеЛи плюс”
                    blockquote.reviews__description <b>Уважаемые коллеги!</b><br>
                                        |Хотим выразить слова благодарности и признательности в адрес ООО Типографии “Паблит”. 
                                        |От сотрудничества с вашей типографией у нас остаются только самые лучшие впечатления. 
                                        |Все работы выполняются на высшем уровне и в короткие сроки, качество 
                                        |продукции остается превосходным.<br>
                                        |<p>Удачи во всем!</p>
                    .reviews__more.note Все отзывы
    .arrow-wrapper.reviews__arrow
        .border-arrow_black
            .arrow_black.arrow__big


