section.services
    .container
        .content
            h1.services__title Услуги
            .services__info-wrapper
                ul.services__groups
                    li
                        a(href="#").services__item Книги и журналы
                    li
                        a(href="#").services__item.services__item_active Допечатная подготовка
                    li
                        a(href="#").services__item Постпечатная обработка
                    li
                        a(href="#").services__item Рекламная продукция
                    li
                        a(href="#").services__item Дизайн
                    li
                        a(href="#").services__item Цифровая печать
                    li
                        a(href="#").services__item Прочие услуги
                    li
                        a(href="#").services__item.all-services Все услуги
                .services__catalogue
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр


                .services__catalogue.services__catalogue_active
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-1.png", alt="")
                        p.card__description Дизайн обложки
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-2.png", alt="")
                        p.card__description Набор текста
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-3.png", alt="")
                        p.card__description Верстка
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-4.png", alt="")
                        p.card__description Корректура