section.services
    .container
        .content
            h1.services__title Услуги
            .services__info-wrapper
                ul.services__groups
                    li
                        p.services__item.services__item_active(data-menu-item='books') Книги и журналы
                    li
                        p.services__item(data-menu-item='prepress') Допечатная подготовка
                    li
                        p.services__item(data-menu-item='post-press') Постпечатная обработка
                    li
                        p.services__item(data-menu-item='advertising') Рекламная продукция
                    li
                        p.services__item(data-menu-item='design') Дизайн
                    li
                        p.services__item(data-menu-item='digital-printing') Цифровая печать
                    li
                        p.services__item(data-menu-item='other-services') Прочие услуги
                    li
                        a(href="./services.html").all-services Все услуги

                .services__catalogue.services__catalogue_active(data-catalogue-item='books')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр


                .services__catalogue(data-catalogue-item='prepress')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-1.png", alt="")
                        p.card__description Дизайн обложки
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-2.png", alt="")
                        p.card__description Набор текста
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-3.png", alt="")
                        p.card__description Верстка
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-4.png", alt="")
                        p.card__description Корректура
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр

                .services__catalogue(data-catalogue-item='post-press')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-1.png", alt="")
                        p.card__description Дизайн обложки
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-2.png", alt="")
                        p.card__description Набор текста
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-3.png", alt="")
                        p.card__description Верстка
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-4.png", alt="")
                        p.card__description Корректура
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    
                .services__catalogue(data-catalogue-item='advertising')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр

                .services__catalogue(data-catalogue-item='design')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр

                .services__catalogue(data-catalogue-item='digital-printing')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр

                .services__catalogue(data-catalogue-item='other-services')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр

 