section.step
    .container
        .content
            h1.step__title Вы заранее знаете все шаги
            p.step__subtitle.subtitle Все наши действия прозрачныи понятны.<br>
                                    |Вы всегда знаете, на каком этапе находится ваша продукция
            .step__cards
                .step__item
                    img(src="./img/steps/step-1.svg", alt="").step__icon
                    .step__title-wrapper
                        p.step__little-title Заявка
                        .arrow
                    p.step__info Вы оставляете заявку на сайте. В течение дня перезванивает наш менеджер и отвечает на все вопросы.
                .step__item
                    img(src="./img/steps/step-2.svg", alt="").step__icon
                    .step__title-wrapper
                        p.step__little-title Встреча
                        .arrow
                .step__item
                    img(src="./img/steps/step-3.svg", alt="").step__icon
                    .step__title-wrapper
                        p.step__little-title Расчет цены
                        .arrow
                .step__item
                    img(src="./img/steps/step-4.svg", alt="").step__icon
                    .step__title-wrapper
                        p.step__little-title Договор
                        .arrow
                .step__item
                    img(src="./img/steps/step-5.svg", alt="").step__icon
                    .step__title-wrapper
                        p.step__little-title Печать
                        .arrow
                .step__item
                    img(src="./img/steps/step-6.svg", alt="").step__icon
                    .step__title-wrapper
                        p.step__little-title Доставка
                        .arrow
                    
                    