section.success
    .container
        .content
            h2.success__title Еxemplar successu<br>Модель успеха
            .success__item.success__item_1
                p.success__little-title <span>1</span> Высокое качество продукции
                p.success__description В наших книгах мы используем шитье блока, что обеспечивает хорошую 
                                    |раскрываемость изданий и прочное скрепление всех тетрадей в блоке. Мы отказались от термоклея и для склейки блока 
                                    |используем особо прочный PUR-клей. 
            .success__item.success__item_2
                p.success__little-title <span>2</span> Тщательная проверка макетов
                p.success__description Практика показывает, что свыше 80% макетов требуют доработки. Кроме стандартной автоматизированной проверки, 
                                    |мы проверяем обрезной формат, отступы, размер обложки и ширины корешка, элементы «под обрез». 
                                    |Исправляем ошибки или даем рекомендации.
    .arrow-wrapper
        .border-arrow_black
            .arrow_black.arrow__big

