.video
    .container
        .content
            .video__black-bar
                img(src="./img/icons/play.svg", alt="").video__player-icon
                .video__player-description Смотреть видео о нас
            .video__player-wrapper.js-videoWrapper
                iframe.video__iframe.js-videoIframe(src='', frameborder='0', allowtransparency='true', allowfullscreen='', data-src='https://www.youtube.com/embed/2OEL4P1Rz04')
                button.video__poster.js-videoPoster