.hat.authors
    .container
        .content
            .hat__info
                h1.hat__title.authors__title Создание, оформление и печать ваших книг от 1 экземпляра
                p.hat__subtitle.subtitle Монографии, стихи, романы
                a.hat__button.white-button(href="#") Заказать
            .hat__buttons-wrapper
                    a.hat__button.transparent-button(href="./authors.html") Авторам
                        .arrow
                    a.hat__button.transparent-button(href="") Издательствам
                        .arrow
                    a.hat__button.transparent-button(href="") Компаниям
                        .arrow
