.hat.authors
    //= ../header.pug
    .container
        .content
            .hat__info-wrapper
                .hat__info
                    h1.hat__title.authors__title Создание, оформление и печать ваших книг от 1 экземпляра
                    p.hat__subtitle.subtitle Монографии, стихи, романы
                    a.hat__button.white-button(href="#") Заказать
                .hat__buttons-wrapper
                        a.hat__button.transparent-button.hat__button_active(href="./authors.html") Авторам
                            .arrow
                        a.hat__button.transparent-button(href="./publishing-houses.html") Издательствам
                            .arrow
                        a.hat__button.transparent-button(href="./companies.html") Компаниям
                            .arrow
