.preparation
    .container
        .content
            h1.preparation__title Весь спектр допечатной подготовки
            .preparation__info-wrapper
                .preparation__items-wrapper
                    .preparation__item
                        span.preparation__description.preparation__description-1 <b>Редактура.</b> Редактор уделяет внимание и форме, и содержанию текста, выполняя необходимые смысловые правки в тексте до начала подготовки макета книги.
                    .preparation__item
                        span.preparation__description.preparation__description-2 <b>Корректура.</b> Корректор работает по готовому макету. Замечания корректора, как правило, не влекут за собой переделку макета.
                    .preparation__item
                        span.preparation__description.preparation__description-3 <b>Верстка.</b> Вёрстка книг — это процесс размещения текстовых и графических материалов на страницах или полосах издания заданного формата, отвечающий определённым требованиям
                a.white-button.preparation__button(href="#") Заказать