section.stages.stages-2
    .container
        .content
            h1.stages__title Цифровая печать 
            .stages__info-wrapper
                .stages__items-wrapper.stages__items-wrapper-2
                    span.stages__item.stages__item-1 Собственное производство 
                    span.stages__item.stages__item-2 Высокое качество печати
                    span.stages__item.stages__item-3 Разработка уникального дизайна продукции
                    span.stages__item.stages__item-4 Выбор любой постпечатной обработки
                    span.stages__item.stages__item-5 Адекватные цены
                    span.stages__item.stages__item-6 Личное присутсвие на производстве при печати
                .stages__button-wrapper
                    a.black-button.stages__button Заказать
