section.stages
    .container
        .content
            h1.stages__title Делаем из рукописи книгу
            .stages__info-wrapper
                .stages__items-wrapper
                    span.stages__item.stages__item-1 Поможем разработать стиль издания или выбрать стандартный книжный формат
                    span.stages__item.stages__item-2  Наша команда выполнит профессиональную вёрстку и техническую редактуру
                    span.stages__item.stages__item-3 Присвоим номер ISBN и штрих-код на обложку
                    span.stages__item.stages__item-4 Напечатаем нужный тираж, и уже в течение недели книга отправится получателю.
                .stages__button-wrapper
                    a.black-button.stages__button Заказать
