.hat.services
    //= ../header.pug
    .container
        .content
            .hat__info-wrapper
                .hat__info
                    h1.hat__title Услуги
                    p.hat__subtitle.subtitle Весь комплекс полиграфических услуг
                .hat__buttons-wrapper
                        a.hat__button.transparent-button(href="./authors.html") Авторам
                            .arrow
                        a.hat__button.transparent-button(href="./publishing-houses.html") Издательствам
                            .arrow
                        a.hat__button.transparent-button(href="./companies.html") Компаниям
                            .arrow
            .hat__stats-circle.stats-circle
                .stats-circle__img-wrapper
                    svg(width='130' height='515' viewbox='0 0 130 515' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M129.5 0.94165C80.9459 41.4635 31.3339 103.735 11.0022 190.667C-23.4563 338 39.3398 452.278 75.0451 491C80.5301 497.333 92.4 510.9 96 514.5' stroke='white' stroke-miterlimit='2.3662' stroke-dasharray='2 2')
                .stats-circle__item.stats-circle__item-1
                    p.stats-circle__number 7 462
                    p.stats-circle__description Клиентов в год
                    .stats-circle__dot
                        svg(width='5' height='5' viewbox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='2.5' cy='2.5' r='2.5' fill='white') 
                .stats-circle__item.stats-circle__item-2
                    p.stats-circle__number 1300 000
                    p.stats-circle__description Общий тираж продукции
                    .stats-circle__dot
                        svg(width='5' height='5' viewbox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='2.5' cy='2.5' r='2.5' fill='white') 
                .stats-circle__item.stats-circle__item-3
                    p.stats-circle__number 99,3%
                    p.stats-circle__description Заказчиков готовы<br>нас рекомендовать
                    .stats-circle__dot
                        svg(width='5' height='5' viewbox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='2.5' cy='2.5' r='2.5' fill='white') 
                .stats-circle__item.stats-circle__item-4
                    p.stats-circle__number 85
                    p.stats-circle__description Профессиональных<br>сотрудников
                    .stats-circle__dot
                        svg(width='5' height='5' viewbox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='2.5' cy='2.5' r='2.5' fill='white') 
                img.stats-circle__img(src="./img/stats-circle.png", alt="")

                