section.services
    .container
        .content
            .services__info-wrapper
                ul.services__groups
                    li
                        a(href="#").services__item.services__item_active Книги и журналы
                        ul.services__subparagraphs.active
                            li
                                a(href="#").services__subparagraphs_item Дизайн обложки
                            li
                                a(href="#").services__subparagraphs_item Набор текста
                            li
                                a(href="#").services__subparagraphs_item Верстка
                            li
                                a(href="#").services__subparagraphs_item Корректура
                            li
                                a(href="#").services__subparagraphs_item Редактура
                            li
                                a(href="#").services__subparagraphs_item Присвоение ISBN
                            li
                                a(href="#").services__subparagraphs_item Присвоение УДК, ББК, Авторский знак
                            li
                                a(href="#").services__subparagraphs_item Формирование штрихкода
                    li
                        a(href="#").services__item Допечатная подготовка
                    li
                        a(href="#").services__item Постпечатная обработка
                    li
                        a(href="#").services__item Рекламная продукция
                    li
                        a(href="#").services__item Дизайн
                    li
                        a(href="#").services__item Цифровая печать
                    li
                        a(href="#").services__item Прочие услуги
                .services__catalogue.services__catalogue_active
                    a(href="./service.html").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="./service.html").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="./service.html").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="./service.html").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр


                .services__catalogue
                    a(href="./service.html").services__card.card
                        img.card__img(src="./img/img-services/preparation-1.png", alt="")
                        p.card__description Дизайн обложки
                    a(href="./service.html").services__card.card
                        img.card__img(src="./img/img-services/preparation-2.png", alt="")
                        p.card__description Набор текста
                    a(href="./service.html").services__card.card
                        img.card__img(src="./img/img-services/preparation-3.png", alt="")
                        p.card__description Верстка
                    a(href="./service.html").services__card.card
                        img.card__img(src="./img/img-services/preparation-4.png", alt="")
                        p.card__description Корректура