section.services
    .container
        .content
            .services__info-wrapper
                ul.services__groups
                    li
                        p(href="#").services__item.services__item_active(data-menu-item='books') Книги и журналы
                        ul.services__subparagraphs.active
                            li
                                p(href="#").services__subparagraphs_item Дизайн обложки
                            li
                                p(href="#").services__subparagraphs_item Набор текста
                            li
                                p(href="#").services__subparagraphs_item Верстка
                            li
                                p(href="#").services__subparagraphs_item Корректура
                            li
                                p(href="#").services__subparagraphs_item Редактура
                            li
                                p(href="#").services__subparagraphs_item Присвоение ISBN
                            li
                                p(href="#").services__subparagraphs_item Присвоение УДК, ББК, Авторский знак
                            li
                                p(href="#").services__subparagraphs_item Формирование штрихкода
                    li
                        p(href="#").services__item(data-menu-item='prepress') Допечатная подготовка
                        ul.services__subparagraphs
                            li
                                p(href="#").services__subparagraphs_item Дизайн обложки
                            li
                                p(href="#").services__subparagraphs_item Набор текста
                            li
                                p(href="#").services__subparagraphs_item Верстка
                            li
                                p(href="#").services__subparagraphs_item Корректура
                            li
                                p(href="#").services__subparagraphs_item Редактура
                            li
                                p(href="#").services__subparagraphs_item Присвоение ISBN
                            li
                                p(href="#").services__subparagraphs_item Присвоение УДК, ББК, Авторский знак
                            li
                                p(href="#").services__subparagraphs_item Формирование штрихкода
                    li
                        p(href="#").services__item(data-menu-item='post-press') Постпечатная обработка
                        ul.services__subparagraphs
                            li
                                p(href="#").services__subparagraphs_item Дизайн обложки
                            li
                                p(href="#").services__subparagraphs_item Набор текста
                            li
                                p(href="#").services__subparagraphs_item Верстка
                            li
                                p(href="#").services__subparagraphs_item Корректура
                            li
                                p(href="#").services__subparagraphs_item Редактура
                            li
                                p(href="#").services__subparagraphs_item Присвоение ISBN
                            li
                                p(href="#").services__subparagraphs_item Присвоение УДК, ББК, Авторский знак
                            li
                                p(href="#").services__subparagraphs_item Формирование штрихкода
                    li
                        p(href="#").services__item(data-menu-item='advertising') Рекламная продукция
                        ul.services__subparagraphs
                            li
                                p(href="#").services__subparagraphs_item Дизайн обложки
                            li
                                p(href="#").services__subparagraphs_item Набор текста
                            li
                                p(href="#").services__subparagraphs_item Верстка
                            li
                                p(href="#").services__subparagraphs_item Корректура
                            li
                                p(href="#").services__subparagraphs_item Редактура
                            li
                                p(href="#").services__subparagraphs_item Присвоение ISBN
                            li
                                p(href="#").services__subparagraphs_item Присвоение УДК, ББК, Авторский знак
                            li
                                p(href="#").services__subparagraphs_item Формирование штрихкода
                    li
                        p(href="#").services__item(data-menu-item='design') Дизайн
                        ul.services__subparagraphs
                            li
                                p(href="#").services__subparagraphs_item Дизайн обложки
                            li
                                p(href="#").services__subparagraphs_item Набор текста
                            li
                                p(href="#").services__subparagraphs_item Верстка
                            li
                                p(href="#").services__subparagraphs_item Корректура
                            li
                                p(href="#").services__subparagraphs_item Редактура
                            li
                                p(href="#").services__subparagraphs_item Присвоение ISBN
                            li
                                p(href="#").services__subparagraphs_item Присвоение УДК, ББК, Авторский знак
                            li
                                p(href="#").services__subparagraphs_item Формирование штрихкода
                    li
                        p(href="#").services__item(data-menu-item='digital-printing') Цифровая печать
                        ul.services__subparagraphs
                            li
                                p(href="#").services__subparagraphs_item Дизайн обложки
                            li
                                p(href="#").services__subparagraphs_item Набор текста
                            li
                                p(href="#").services__subparagraphs_item Верстка
                            li
                                p(href="#").services__subparagraphs_item Корректура
                            li
                                p(href="#").services__subparagraphs_item Редактура
                            li
                                p(href="#").services__subparagraphs_item Присвоение ISBN
                            li
                                p(href="#").services__subparagraphs_item Присвоение УДК, ББК, Авторский знак
                            li
                                p(href="#").services__subparagraphs_item Формирование штрихкода
                    li
                        p(href="#").services__item(data-menu-item='other-services') Прочие услуги
                        ul.services__subparagraphs
                            li
                                p(href="#").services__subparagraphs_item Дизайн обложки
                            li
                                p(href="#").services__subparagraphs_item Набор текста
                            li
                                p(href="#").services__subparagraphs_item Верстка
                            li
                                p(href="#").services__subparagraphs_item Корректура
                            li
                                p(href="#").services__subparagraphs_item Редактура
                            li
                                p(href="#").services__subparagraphs_item Присвоение ISBN
                            li
                                p(href="#").services__subparagraphs_item Присвоение УДК, ББК, Авторский знак
                            li
                                p(href="#").services__subparagraphs_item Формирование штрихкода


                .services__catalogue.services__catalogue_active(data-catalogue-item='books')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр


                .services__catalogue(data-catalogue-item='prepress')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-1.png", alt="")
                        p.card__description Дизайн обложки
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-2.png", alt="")
                        p.card__description Набор текста
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-3.png", alt="")
                        p.card__description Верстка
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-4.png", alt="")
                        p.card__description Корректура
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр

                .services__catalogue(data-catalogue-item='post-press')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-1.png", alt="")
                        p.card__description Дизайн обложки
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-2.png", alt="")
                        p.card__description Набор текста
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-3.png", alt="")
                        p.card__description Верстка
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/preparation-4.png", alt="")
                        p.card__description Корректура
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    
                .services__catalogue(data-catalogue-item='advertising')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр

                .services__catalogue(data-catalogue-item='design')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр

                .services__catalogue(data-catalogue-item='digital-printing')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр

                .services__catalogue(data-catalogue-item='other-services')
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-1.png", alt="")
                        p.card__description Печать книг
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-2.png", alt="")
                        p.card__description Печать журналов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-3.png", alt="")
                        p.card__description Печать каталогов
                    a(href="#").services__card.card
                        img.card__img(src="./img/img-services/book-4.png", alt="")
                        p.card__description Печать брошюр

 