.hat.partners-cards
    //= ../header.pug
    .container
        .content
            h1.partners-cards__title Наши партнеры
            p.partners-cards__subtitle.subtitle Партнеры которые нам доверяют
            .partners-cards__items-wrapper
                .partners-cards__item
                    img(src="./img/partners-cards/partners-cards-1.png", alt="").partners-cards__img
                    p.partners-cards__description “Радиотехника”
                .partners-cards__item
                    img(src="./img/partners-cards/partners-cards-2.png", alt="").partners-cards__img
                    p.partners-cards__description АСН - Агентство страховых новостей
                .partners-cards__item
                    img(src="./img/partners-cards/partners-cards-3.png", alt="").partners-cards__img
                    p.partners-cards__description ВЕЧЕ - Издательство
                .partners-cards__item
                    img(src="./img/partners-cards/partners-cards-4.png", alt="").partners-cards__img
                    p.partners-cards__description Три Квадрата - Издательство
                .partners-cards__item
                    img(src="./img/partners-cards/partners-cards-5.png", alt="").partners-cards__img
                    p.partners-cards__description Спектр - Издательство
                .partners-cards__item
                    img(src="./img/partners-cards/partners-cards-6.png", alt="").partners-cards__img
                    p.partners-cards__description “Теревинф” - Издательство
                .partners-cards__item
                    img(src="./img/partners-cards/partners-cards-7.png", alt="").partners-cards__img
                    p.partners-cards__description “Спорт и культура” - Издательство
                .partners-cards__item
                    img(src="./img/partners-cards/partners-cards-8.png", alt="").partners-cards__img
                    p.partners-cards__description “Гребенников” - Издательство
                .partners-cards__item
                    img(src="./img/partners-cards/partners-cards-9.png", alt="").partners-cards__img
                    p.partners-cards__description Нанотехнологическое Общество России
                .partners-cards__item
                    img(src="./img/partners-cards/partners-cards-10.png", alt="").partners-cards__img
                    p.partners-cards__description “Алгоритм” - Издательство