.hat.case
    //= ../header.pug
    .container
        .content
            h1.case__title Печать и изготовление книг “Двуглавый орел”
            .case__items-wrapper
                .case__gallery
                    img(src="./img/cases/bound-editions/case-1/cases-1.png", alt="").case__full-img
                    .case__img-wrapper
                        img(src="./img/cases/bound-editions/case-1/cases-1.png", alt="").case__img
                        img(src="./img/cases/bound-editions/case-1/cases-2.png", alt="").case__img
                        img(src="./img/cases/bound-editions/case-1/cases-3.png", alt="").case__img
                        img(src="./img/cases/bound-editions/case-1/cases-4.png", alt="").case__img
                        img(src="./img/cases/bound-editions/case-1/cases-2.png", alt="").case__img
                .case__info
                    .case__info-item    
                        h5.case__little-title Задача
                        p.case__description Разработка обложки, Печать и изготовление книг
                    .case__info-item    
                        h5.case__little-title Тираж
                        p.case__description 100 экземпляров
                    .case__info-item    
                        h5.case__little-title Срок изготовления
                        p.case__description 5 дней
                    .case__info-item    
                        h5.case__little-title Стоимость
                        p.case__description 30 000 Руб
                    .case__info-item    
                        h5.case__little-title Комментарий
                        p.case__description Подробности заказа Подробности заказа Подробности заказа Подробности заказа Подробности заказа Подробности заказа<br>
                                        |Подробности заказа Подробности заказа Подробности заказа Подробности заказа Подробности заказа<br><br>
                                        |Подробности заказаПодробности заказа Подробности заказа Подробности 
                        
                    