.hat.publishing-houses
    //= ../header.pug
    .container
        .content
            .hat__info-wrapper
                .hat__info
                    h1.hat__title Печать книг, журналов, брошюр любым тиражом
                    p.hat__subtitle.subtitle Ответственное хранение на складе, рассылка обязательных<br>экземпляров, ручные операции. <b>Весь список</b>
                    a.hat__button.white-button(href="#") Заказать
                .hat__buttons-wrapper
                        a.hat__button.transparent-button(href="./authors.html") Авторам
                            .arrow
                        a.hat__button.transparent-button(href="./publishing-houses.html") Издательствам
                            .arrow
                        a.hat__button.transparent-button(href="./companies.html") Компаниям
                            .arrow