section.calculator
    padding-top: 100px
    background-color: #F6F6F6
    padding-bottom: 60px
    margin-top: 0
.calculator
    .content
        overflow: hidden
        border-bottom: 1px solid $black
        padding-bottom: 100px
        position: relative
        &::before
            content: ''
            position: absolute
            height: 1px
            width: calc( 1 * (100% / 7) )
            background: linear-gradient(to right, $green calc( 100% - 20px ), #F6F6F6 calc( 100% - 20px ))
            left: 0
            bottom: -1px
    &__title
        text-align: center
    &-wrapper
        display: flex
        align-items: flex-start
        justify-content: center
        margin-right: -90px
    &__items
        margin-top: 50px
        display: flex
        align-items: flex-start
    &__item
        margin-right: 90px
    &__little-title
        font-weight: normal
        font-size: 24px
        line-height: 50px
    &__item
        display: flex
        align-items: flex-start
        &_col
            flex-direction: column
            align-items: flex-start
            .num-input
                width: 115px
                height: 35px
                margin-top: 10px
        .num-input_long
            width: 200px
            height: 35px

    &__format
        font-size: 18px
        line-height: 24px
        font-weight: 400
    &__textarea
        border: none
        outline: none
        width: 100%
        height: 100px
        padding: 14px 23px
        &::placeholder
            font-family: Roboto
            font-weight: 300
            font-size: 16px
            line-height: 24px
            color: #C4C4C4
    &__info-wrapper
        margin-left: 23px
        display: flex
        flex-direction: column
        align-items: start
    &__description
        font-weight: 300
        font-size: 16px
        line-height: 24px
    &__parameters-wrapper
        margin-top: 10px
    &__parameter-wrapper
        display: flex
        width: 130px
        justify-content: space-between
        margin-top: 6px
    &__step
        margin-top: 45px
        display: flex
        position: relative
        align-items: center
        justify-content: center
        & .arrow-wrapper
            position: relative
            top: 0
            right: 0
    &__number
        font-size: 24px
        line-height: 30px
        font-family: 'Century Gothic B'
        margin-right: 20px
    &__border-arrow
        width: 40px
        height: 40px
    &__arrow
        width: 14px
        height: 13px
        left: 10px
        top: 14px
@include respond-to(xl)
    .calculator-wrapper
        display: flex
        flex-direction: column
@include respond-to(md)    
    .calculator
        &__items
            flex-wrap: wrap !important
        &__item:nth-child(3)
            margin-top: 60px
@include respond-to(xs)    
    section.calculator
        padding-top: 40px
    .calculator
        padding: 20px
        .content
            padding-bottom: 0

@media screen and ( max-width: 457px )
    .calculator
        &__item
            margin-top: 0 !important
            margin-bottom: 40px
            margin-right: 30px

@media screen and ( max-width: 400px )
    .calculator
        &__format-wrapper
            flex-direction: column
