section.calculator
    padding-top: 90px
    background-color: #F6F6F6
    margin-top: 0
    height: 760px

.calculator
    .content
        padding-bottom: 0px
        position: relative
        height: 520px
        &::before
            background-color: #282828
            content: ''
            position: absolute
            height: 1px
            width: calc( 100% - (1 * (100% / 7) + 20px) )
            right: 0
            bottom: 2px
        &::after
            content: ''
            position: absolute
            height: 1px
            width: calc( 1 * (100% / 7) )
            background-color: $green
            left: 0
            bottom: 2px
    .hr_none
        &::before
            display: none !important
        &::after
            display: none !important
    &__title
        text-align: center
    &-wrapper
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin-right: -90px
        opacity: 0
        z-index: -10
        width: 0
        height: 0
        position: absolute
        left: -1000000000
        &_active
            opacity: 1
            z-index: 4
            height: auto
            position: relative
            left: 0
            width: 100%
            transition: .3s
            transition-property: opacity
    &__items
        margin-top: 50px
        display: flex
        align-items: flex-start
    &__item
        margin-right: 90px
    &__little-title
        font-weight: normal
        font-size: 24px
        line-height: 50px
    &__item
        display: flex
        align-items: flex-start
        &_col
            flex-direction: column
            align-items: flex-start
            .num-input
                width: 115px
                height: 35px
                margin-top: 10px
        .num-input_long
            width: 200px
            height: 35px

    &__format
        font-size: 18px
        line-height: 24px
        font-weight: 400
    &__textarea
        border: none
        outline: none
        min-width: 100%
        height: 100px
        padding: 14px 23px
        color: $light-black
        font-size: 16px
        font-family: Roboto
        &::placeholder
            font-family: Roboto
            font-weight: 300
            font-size: 16px
            line-height: 24px
            color: #C4C4C4
    &__info-wrapper
        margin-left: 23px
        display: flex
        flex-direction: column
        align-items: start
    &__description
        font-weight: 300
        font-size: 16px
        line-height: 24px
    &__parameters-wrapper
        margin-top: 10px
    &__parameter-wrapper
        display: flex
        width: 130px
        justify-content: space-between
        margin-top: 6px
    &__step
        margin-top: 45px
        display: flex
        position: relative
        align-items: center
        justify-content: center
        & .arrow-wrapper
            position: relative
            top: 0
            right: 0
    &__number
        font-size: 24px
        line-height: 30px
        font-family: 'Century Gothic B'
        margin-right: 20px
    &__border-arrow
        width: 40px
        height: 40px
    &__arrow
        width: 14px
        height: 13px
        left: 10px
        top: 14px
    &__row, &__row-2
        display: grid
        justify-content: space-between
        width: 100%
        grid-template-columns: 1fr 1fr 1fr 1fr 
    &__row
        padding-bottom: 50px
        border-bottom: 1px solid rgba(31, 30, 30, 0.1)


[data-step-number="1"]
    .calculator_pre
        display: none

[data-step-number="2"]
    .content
        &::before
            width: calc( 100% - (2 * (100% / 7) + 20px) )
        &::after
            width: calc( 2 * (100% / 7) )
[data-step-number="3"]
    .content
        &::before
            width: calc( 100% - (3 * (100% / 7) + 20px) )
        &::after
            width: calc( 3 * (100% / 7) )
[data-step-number="4"]
    .content
        &::before
            width: calc( 100% - (4 * (100% / 7) + 20px) )
        &::after
            width: calc( 4 * (100% / 7) )

[data-step-number="5"]
    .content
        &::before
            width: calc( 100% - (5 * (100% / 7) + 20px) )
        &::after
            width: calc( 5 * (100% / 7) )
[data-step-number="6"]
    .content
        &::before
            width: calc( 100% - (6 * (100% / 7) + 20px) )
        &::after
            width: calc( 6 * (100% / 7) )

[data-step-number="7"]
    .calculator_next
        display: none
    .content
        &::before
            width: calc( 100% - (7 * (100% / 7) + 20px) )
        &::after
            width: calc( 7 * (100% / 7) )






[data-step-content="4"], [data-step-content="5"], [data-step-content="6"]
    flex-direction: column 

[data-step-content="4"]
    .calculator
        &__row, &__row-2
            grid-template-columns: 1.5fr 1fr 

[data-step-content="5"]
    .calculator
        &__row, &__row-2
            grid-template-columns: 1fr 1fr 1fr
        &__row
            padding-bottom: 30px
        &__little-title
            line-height: 26px

[data-step-content="6"]
    .calculator
        &__row
           grid-template-columns: 3fr 1fr
           padding-bottom: 0
        &__textarea
            width: 565px
            height: 70px
            resize: none
    .characteristic__grid
        grid-template-columns: 1fr 1fr 1fr 1fr

[data-step-content="7"]
    .order-details
        margin-left: 0
        overflow: visible
        display: grid
        max-height: 100%
        grid-template-columns: 1fr 3fr 2.2fr
        &__items-wrapper
            border-left: 1px solid #C4C4C4
            border-top: none
            padding: 0
            padding-left: 35px
            margin-top: 0
        &__item-description, &__item-title
            line-height: 22px
            font-size: 14px
            padding: 0
        &__form-wrapper
            display: block
        .form__input
            width: 430px
            height: 50px
        &__textarea
            width: 430px
            height: 85px !important
            resize: none
        #order-tel
            display: block
    .after-sending
        margin-left: 0
        &__title
            margin-bottom: 10px
        &__description
            max-width: 460px
        &__button
            filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 0.2))
            border-radius: 10px
            border-color: #1F1E1E
            margin-top: 50px
            width: 200px
            height: 45px
            outline: none
@include respond-to(xxl)
    section.calculator
        height: 950px
    .calculator
        .content
            height: 720px

    [data-step-number="3"]
        .calculator
            &__items
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                grid-row-gap: 20px
    [data-step-number="5"]
        .calculator
            &__row
                display: grid
                grid-template-columns: 1fr 1fr
                grid-row-gap: 20px
            &__item
                margin-left: 0
    [data-step-number="6"]
        .calculator
            &__little-title
                margin-top: 20px
            &__row
                grid-template-columns: 1fr
                
@include respond-to(xl)
    section.calculator
        height: auto
    .calculator
        .content
            height: 100%
            padding-bottom: 40px
        &__step
            padding-bottom: 30px
    [data-step-number="1"]
        .calculator-wrapper
            flex-wrap: wrap
        .calculator
            &__items
                flex-wrap: wrap
    [data-step-number="2"]
        .calculator-wrapper
            flex-direction: column

    [data-step-number="4"]
        .calculator
            &__row
                grid-template-columns: 1fr 
                grid-row-gap: 40px
            &__row-2
                grid-template-columns: 1fr 1fr
            &__little-title
                margin-bottom: 0 
            &__items
                margin-top: 10px 
    [data-step-number="7"]
        .form__input
            width: 100% !important


@include respond-to(md)     
    [data-step-number="2"]
        .calculator
            &__item
                margin-right: 20px
    [data-step-number="3"]
        .calculator
            &__items
                grid-template-columns: 1fr 1fr
    [data-step-number="5"]
        .calculator
            &__row
                grid-template-columns: 1fr
            &__item
                margin-left: 0
    [data-step-number="6"]
        .characteristic__grid
            grid-template-columns: 1fr 1fr
    [data-step-number="7"]
        .order-details
            grid-template-columns: 1fr 
            &__items-wrapper
                border-left: none
                margin-top: 40px
                padding-top: 20px
                padding-left: 0
                border-top: 1px solid #C4C4C4
@include respond-to(sm)
    [data-step-number="6"]
        .calculator
            &__row-2
                grid-template-columns: 100%
            &__textarea
                width: 100%
    [data-step-number="7"]
        .order-details
            grid-template-columns: calc( 100vw - 60px )
            &__items-wrapper
            &__item
                flex-direction: row
            &__item-title, &__item-description
                text-align: start
@include respond-to(xs)
    .calculator
        .content
            margin-left: 20px
            margin-right: 20px

    [data-step-number="2"]
        .calculator-wrapper
            margin-left: 20px
            margin-right: 20px
        .calculator
            &__items
                flex-direction: column
                margin-top: 0
            &__item
                margin: 20px 0 0 0 !important
            &__little-title
                margin-bottom: 10px
                padding-right: 20px
    [data-step-number="3"]
        .calculator
            &-wrapper
                margin-left: 20px
            &__items
                grid-template-columns: 1fr !important
            &__item:nth-child(4)
                margin-top: 40px

    [data-step-number="4"]
        .calculator
            &__row
                grid-template-columns: 1fr 
                grid-row-gap: 40px
            &__row-2
                grid-template-columns: 1fr
            &__little-title
                margin-bottom: 0 
            &__items
                margin-top: 10px 
                flex-wrap: wrap
            &__item
                margin-bottom: 10px
    [data-step-number="5"]
        .calculator
            &__row
                grid-template-columns: 1fr
            &__item
                margin-left: 0
            &__little-title
                margin-bottom: 0 
            &__items
                margin-top: 20px 
                flex-wrap: wrap
            &__item
                margin-bottom: 10px
    [data-step-number="6"]
        .calculator
            &__row-2
                grid-template-columns: calc( 100% - 40px )

@media screen and ( max-width: 400px )
    [data-step-number="1"]
        .calculator
            &__icon
                margin-bottom: 20px
            &__little-title
                margin-bottom: 0
            &__items
                margin-top: 20px
    [data-step-number="6"]
        .characteristic__grid
            grid-template-columns: 1fr
