.header
    background-color: transparent
    color: $white
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.7)
    &__item
        display: flex
        align-items: center
    &__number
        margin: 0 40px 0 20px
        margin-left: 300px
.menu
    list-style-type: none
    display: flex
    align-items: center
    &__item
        margin-right: 40px
        & a 
            font-weight: bold
            font-size: 14px
            line-height: 16px
            text-transform: uppercase

.menu-wrapper
    display: flex
    align-items: center