.services
    margin-top: 40px
    margin-bottom: 100px
    &__catalogue
        grid-template-columns: 1fr 1fr
        grid-template-rows: auto
        height: 675px
        overflow-y: scroll
        grid-gap: 25px
        margin-left: 25px
        display: none
    &__catalogue_active
        display: grid
    &__info-wrapper
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__title 
        text-align: center
        margin-bottom: 50px
    &__groups
        border-right: 1px solid $black
        height: 675px
        list-style-type: none
        padding: 0
        margin: 0
    &__subparagraphs
        display: none
        list-style-type: none
        padding: 0
        margin: 0
        &_item
            font-weight: 300
            font-size: 16px
            line-height: 30px
            color: #9D9D9D
            padding-left: 10px
    &__item
        color: $light-grey
        font-weight: 300
        font-size: 18px
        line-height: 50px
        width: 400px
        display: inline-block
        &:hover
            color: $green
        &_active
            color: $green
            position: relative
            &::before
                content: ''
                position: absolute
                width: 1px
                height: 55px
                background: linear-gradient(to bottom, $white 10%, $green 10%, $green 90%, $white 90%)
                right: -1px
                bottom: 0

.all-services
    margin-top: 70px
    border-top: 1px solid $black
    width: 110px

.card
    position: relative
    &__img
        max-width: 380px
    &__description
        font-family: 'Century Gothic'
        font-weight: normal
        font-size: 24px
        line-height: 50px
        position: absolute
        top: 0
        left: 50px


@include respond-to(xxl)
    .services
        &__item
            width: 270px
        &__info-wrapper
            justify-content: start
    .all-services
        width: 110px
@include respond-to(xl)
    .services
        &__catalogue
            height: 510px
        &__groups
            height: 510px
    .card
        position: relative
        &__img
            max-width: 100%
@include respond-to(md)
    .services
        &__catalogue
            grid-template-columns: 1fr
@include respond-to(sm)
    .card
        &__description
            font-size: 18px
            line-height: 30px
            left: 30px
@include respond-to(xs)
    .services
        &__info-wrapper
            flex-direction: column
            align-items: center
            width: 100%
        &__catalogue
            margin-left: 0
        &__groups
            display: flex
            max-width: 400px
            height: auto
            overflow-x: scroll
            border-right: none
            margin-bottom: 30px
        &__item
            width: auto
            white-space: nowrap
            margin-right: 24px
            &_active
                color: $green
                position: relative
                &::before
                    display: none
    .all-services
        margin-top: 0
        border-top: none
        border-left: 1px solid $black
        width: auto
        padding-left: 20px

@media screen and ( max-width: 460px )
    .services
        &__groups
            display: flex
            max-width: 280px
    

