section.step
    margin-top: 104px
    height: 800px
    padding: 20px

.step
    & .content
        display: flex
        flex-direction: column
        align-items: center
    &__title
        max-width: 640px
        text-align: center
    &__subtitle
        text-align: center
        margin-top: 37px
        line-height: 30px
    &__cards
        margin-top: 80px
        display: grid
        grid-template-columns: repeat(6, 200px)
        grid-gap: 30px
    &__title-wrapper
        display: flex
        align-items: center
    &__little-title
        font-size: 20px
        line-height: 50px
    &__info
        font-weight: 300
        font-size: 14px
        line-height: 20px
        opacity: 0
        transition: .3s
        height: 0
    &__icon
        svg
            height: 60px
    &__item
        background: linear-gradient(180deg, #181818 0%, #232323 100%)
        padding: 25px
        padding-right: 20px
        display: flex
        flex-direction: column
        align-items: flex-start
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
        height: 180px
        .stroke-green, .fill-green
            transition: .3s
        &:hover
            height: 300px
            .stroke-green
                stroke: $green
                transition: .3s
            .fill-green
                fill: $green
                transition: .3s
            .step__info
                opacity: 1
                transform: scale(1)
                transition: .3s
                height: auto



@include respond-to(xxl)
    .step
        &__cards
            overflow-x: scroll
            overflow-y: hidden
            width: 90vw