section.equipment-cards
    .container
        .content
            .equipment-cards__items-wrapper
                .equipment-cards__item
                    img(src="./img/equipment/equipment-1.png", alt="").equipment-cards__img
                    p.equipment-cards__description Цветная цифровая печатная машина imagePress C 8000VP
                .equipment-cards__item
                    img(src="./img/equipment/equipment-2.png", alt="").equipment-cards__img
                    p.equipment-cards__description Трехножевой автомат HD142.P фирмы Kolbus. Заводской номер540
                .equipment-cards__item
                    img(src="./img/equipment/equipment-3.png", alt="").equipment-cards__img
                    p.equipment-cards__description Ниткошвейная машина для книжных блоков фирмы Meccanotecnica S.p.A Universe, заводской номер3F14091
                .equipment-cards__item
                    img(src="./img/equipment/equipment-4.png", alt="").equipment-cards__img
                    p.equipment-cards__description Ролевая печатная машина OCE Colorstream 6000
                .equipment-cards__item
                    img(src="./img/equipment/equipment-5.png", alt="").equipment-cards__img
                    p.equipment-cards__description Высокопроизводительный принтер JCE VARIO PRINT 6250 REMAN
                .equipment-cards__item
                    img(src="./img/equipment/equipment-6.png", alt="").equipment-cards__img
                    p.equipment-cards__description Hunkeller
                .equipment-cards__item
                    img(src="./img/equipment/equipment-7.png", alt="").equipment-cards__img
                    p.equipment-cards__description Аппарат клеевого бесшвейного скрепления Horizon 470
                .equipment-cards__item
                    img(src="./img/equipment/equipment-8.png", alt="").equipment-cards__img
                    p.equipment-cards__description Фальцевальная машина GUK524 KTL-F4, бу 1999г. выпуска, производство Германия
                .equipment-cards__item
                    img(src="./img/equipment/equipment-9.png", alt="").equipment-cards__img
                    p.equipment-cards__description Машина резательная гильотинная гидравлическая POLAR 78 XS
                .equipment-cards__item
                    img(src="./img/equipment/equipment-10.png", alt="").equipment-cards__img
                    p.equipment-cards__description Крышкоделательный автомат тип DA 270 KOLBUS. Заводской номер 33
                .equipment-cards__item
                    img(src="./img/equipment/equipment-11.png", alt="").equipment-cards__img
                    p.equipment-cards__description Автоматическая машина для ламинирования Komfi Amiga 52 (1013006021061300155404 Чешская республика
                .equipment-cards__item
                    img(src="./img/equipment/equipment-12.png", alt="").equipment-cards__img
                    p.equipment-cards__description Машина резательная гильотинная гидравлическая POLAR 78 XS
    //= ../popups/equipment-popup.pug