section.feedback
    .container
        .content
            h2.feedback__title Обратная связь
            p.feedback__subtitle Напишите нам и мы ответим в ближайшее время
            form.feedback__form(action="")
                input.feedback__input(type="tel" placeholder='Телефон' required)
                input.feedback__input(type="email" placeholder='E-mail' required)
                input.feedback__input(type="text" placeholder='Сообщение')
                button.black-button.feedback__button(type="submit", value="submit") Отправить