.hat.cases-catalogue
    //= ../header.pug
    .container
        .content
            h1.cases__title Кейсы
            ul.cases__menu.menu
                li
                    a(href="#l").cases__item.cases__item_active Издания в переплете 
                li
                    a(href="#").cases__item Издания в обложке 
                li
                    a(href="#").cases__item Рекламная продукция 
                li
                    a(href="#").cases__item Прочие услуги
            .cases-catalogue__items-wrapper
                a(href="./case.html").cases-catalogue__item
                    img.cases-catalogue__img(src="./img/cases/bound-editions/case-1/cases-1.png", alt="")
                    p.cases-catalogue__description “Двуглавый орел”
                a(href="./case.html").cases-catalogue__item
                    img.cases-catalogue__img(src="./img/cases/bound-editions/cases-2.png", alt="")
                    p.cases-catalogue__description “Двуглавый орел”
                a(href="./case.html").cases-catalogue__item
                    img.cases-catalogue__img(src="./img/cases/bound-editions/cases-3.png", alt="")
                    p.cases-catalogue__description “Двуглавый орел”
                a(href="./case.html").cases-catalogue__item
                    img.cases-catalogue__img(src="./img/cases/bound-editions/cases-4.png", alt="")
                    p.cases-catalogue__description “Двуглавый орел”
                a(href="./case.html").cases-catalogue__item
                    img.cases-catalogue__img(src="./img/cases/bound-editions/cases-5.png", alt="")
                    p.cases-catalogue__description “Двуглавый орел”
                a(href="./case.html").cases-catalogue__item
                    img.cases-catalogue__img(src="./img/cases/bound-editions/cases-6.png", alt="")
                    p.cases-catalogue__description “Двуглавый орел”
                a(href="./case.html").cases-catalogue__item
                    img.cases-catalogue__img(src="./img/cases/bound-editions/cases-7.png", alt="")
                    p.cases-catalogue__description “Двуглавый орел”
                a(href="./case.html").cases-catalogue__item
                    img.cases-catalogue__img(src="./img/cases/bound-editions/cases-8.png", alt="")
                    p.cases-catalogue__description “Двуглавый орел”