// Modules

//img
.logo
    width: 240px

//text
.number
    font-weight: 500
    font-size: 20px
    line-height: 23px
.subtitle
    font-weight: 300
    font-size: 20px
    line-height: 22px
.note
    font-weight: normal
    font-size: 14px
    line-height: 50px
    color: #616161
    &::before
        position: absolute
        content: ''
        width: 6px
        height: 5px
        transform: rotate(-30deg) skew(30deg) 
        display: block
        margin-left: 16px
        z-index: 2
        border: 2px solid #616161
        border-top: none
        border-left: none
//buttons
.white-button
    background-color: $white
    color: $black
    padding: 12px 35px
    border: 1px solid $black
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.2)
    border-radius: 10px
    font-size: 16px
    display: inline-block
    cursor: pointer
    transition: .3s
    &:hover
        background-color: $black
        color: $white
        border: 1px solid $white
        transition: .3s
.black-button
    background-color: $black
    color: $white
    padding: 12px 35px
    border: 1px solid $black
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.2)
    border-radius: 10px
    font-size: 16px
    display: inline-block
    cursor: pointer
    outline: none
    transition: .3s
    &:hover
        background-color: transparent
        color: $black
        border: 1px solid $black
        transition: .3s
.transparent-button
    background-color: transparent
    border: 1px solid rgba(255, 255, 255, 0.6)
    padding: 18px 0
    display: inline-block
    font-size: 16px
    width: 175px
    text-align: center
    cursor: pointer
    transition: .3s
    &:hover, &:active
        background: rgba(255, 255, 255, 0.05)
        transition: .3s
        

//arrow    
.arrow
    border: 2px solid $white
.arrow_black
    border: 2px solid $black
.arrow, .arrow_black
    width: 11px
    height: 9px
    border-top: none
    border-left: none
    transform: rotate(-30deg) skew(30deg) 
    display: inline-block
    margin-left: 16px
.arrow__big
    width: 20px
    height: 18px
    margin-left: 0
    position: absolute
    top: 12px
    left: 7px
.arrow-wrapper
    position: absolute
    right: 3%
    z-index: 5
    cursor: pointer
.border-arrow
    border: 2px solid $white
.border-arrow_black
    border: 2px solid $black
.border-arrow, .border-arrow_black
    background-color: transparent
    width: 48px
    height: 48px
    border-radius: 50%
    position: relative


//background
.background-gradient
    background: linear-gradient(180deg, #232323 0%, #101010 100%)
    color: $white

//inputs
.checkbox
    position: absolute
    z-index: -1
    opacity: 0

.checkbox + .label
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  user-select: none
  top: 0

.checkbox + .label::before 
  content: ''
  display: inline-block
  width: 23px
  height: 23px
  flex-shrink: 0
  flex-grow: 0
  border: none
  border-radius: 0.25em
  margin-right: 0.5em
  background-repeat: no-repeat
  background-position: center center
  background-size: 50% 50%
  background-color: $white
  margin-bottom: 15px
  cursor: pointer
  
.checkbox:checked + .label::before 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='2C2C2C' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");


.num-input
    width: 67px
    height: 23px
    background: #FFFFFF
    border-radius: 3px
    border: none
    outline: none
    color: $black
    font-size: 14px
    text-align: center
.num-input::-webkit-outer-spin-button, .num-input::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0
.number-label
    font-weight: 300
    font-size: 14px
    margin-right: 5px
    line-height: 22px
    color: #08090B
.input-tel
    outline: none
    width: 350px
    height: 50px
    border: none
    border-bottom: 2px solid $black
    margin: 10px 0
    color: $black
    font-size: 28px
    line-height: 33px
    font-weight: 300
    font-family: Roboto
    padding: 10px 0 23px
    &::placeholder
        color: $black

//icons
.social
    width: 30px
    height: 30px
    border-radius: 5px
.facebook
    background-image: url('./../img/social/social-1.png')
.vk
    background-image: url('./../img/social/social-2.png')
.twitter
    background-image: url('./../img/social/social-3.png')
.instagram
    background-image: url('./../img/social/social-4.png')

//map
iframe.map
    border-top: none

//margin
.m-t-10
    margin-top: 10px
.m-t-15
    margin-top: 15px
//padding
.p-b-120
    padding-bottom: 120px


//stats-circle
.stats-circle
    position: relative
    &__img-wrapper
        position: absolute
        top: 50px
        left: 20px
    &__img
        max-width: 700px
    &__item
        position: absolute
        cursor: default
        text-align: center
        &:hover
            .stats-circle__description, .stats-circle__number
                color: $white
                transition: .3s
            .stats-circle__dot
                &::before, &::after
                    opacity: 1
                    transition: .3s
                    
        &-1
            top: 14px
            left: -34px
            .stats-circle__dot
                right: -55px
                top: 50px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9.5' cy='9.5' r='9.5' fill='%231F1F1F'%3e%3c/circle%3e%3c/svg%3e")
        &-2
            top: 156px
            left: -197px
            .stats-circle__dot
                right: -55px
                top: 50px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9.5' cy='9.5' r='9.5' fill='%231C1C1C'%3e%3c/circle%3e%3c/svg%3e")
        &-3
            top: 355px
            left: -156px
            .stats-circle__dot
                right: -48px
                top: 30px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9.5' cy='9.5' r='9.5' fill='%23191919'%3e%3c/circle%3e%3c/svg%3e")
        &-4
            top: 520px
            left: -80px
            .stats-circle__dot
                right: -36px
                top: 12px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9.5' cy='9.5' r='9.5' fill='%23151515'%3e%3c/circle%3e%3c/svg%3e")
    &__number
        font-family: 'Century Gothic B'
        font-style: normal
        font-size: 45px
        color: #3D3D3D
        transition: .3s
    &__description
        font-weight: 300
        font-size: 16px
        line-height: 20px
        margin-top: 0
        color: #3D3D3D
        text-align: center
        transition: .3s
    &__dot
        position: absolute
        width: 19px
        height: 19px
        display: flex
        align-items: center
        justify-content: center
        &::after
            content: ''
            width: 11px
            height: 11px
            position: absolute
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='5.50026' cy='5.50001' r='4.86842' fill='%2328AB57'/%3e%3c/svg%3e ")
            opacity: 0
            transition: .3s
        &::before
            content: ''
            width: 37px
            height: 37px
            position: absolute
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='18.5' cy='18.5' r='18' fill='%23191919' stroke='white' stroke-dasharray='2 2'/%3e%3c/svg%3e")
            opacity: 0
            transition: .3s
        