// Modules

//img
.logo
    width: 240px

//text
.number
    font-weight: 500
    font-size: 20px
    line-height: 23px
.subtitle
    font-weight: 300
    font-size: 20px
    line-height: 22px
.note
    font-weight: normal
    font-size: 14px
    line-height: 50px
    color: #616161
    &::before
        position: absolute
        content: ''
        width: 6px
        height: 5px
        transform: rotate(-30deg) skew(30deg) 
        display: block
        margin-left: 16px
        z-index: 2
        border: 2px solid #616161
        border-top: none
        border-left: none
//buttons
.white-button
    background-color: $white
    color: $black
    padding: 12px 35px
    border: 1px solid $black
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.2)
    border-radius: 10px
    font-size: 16px
    display: inline-block
    cursor: pointer
    transition: .3s
    &:hover
        background-color: $black
        color: $white
        border: 1px solid $white
        transition: .3s
.black-button
    background-color: $black
    color: $white
    padding: 12px 35px
    border: 1px solid $black
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.2)
    border-radius: 10px
    font-size: 16px
    display: inline-block
    cursor: pointer
    outline: none
    transition: .3s
    &:hover
        background-color: transparent
        color: $black
        border: 1px solid $black
        transition: .3s
.transparent-button
    background-color: transparent
    border: 1px solid rgba(255, 255, 255, 0.6)
    padding: 0
    display: inline-block
    font-size: 16px
    width: 180px
    text-align: center
    cursor: pointer
    transition: .3s
    height: 55px
    display: flex
    align-items: center
    justify-content: center
    &:hover, &:active
        background: rgba(255, 255, 255, 0.05)
        transition: .3s
        

//arrow    
.arrow
    border: 2px solid $white
.arrow_black
    border: 2px solid $black
.arrow, .arrow_black
    width: 11px
    height: 9px
    border-top: none
    border-left: none
    transform: rotate(-30deg) skew(30deg) 
    display: inline-block
    margin-left: 16px
.arrow__big
    width: 20px
    height: 18px
    margin-left: 0
    position: absolute
    top: 12px
    left: 7px
.arrow_pre
    transform: rotate(150deg) skew(30deg) 
    margin-left: 8px
.arrow-wrapper
    position: absolute
    right: 3%
    z-index: 5
    cursor: pointer
@media screen and ( max-width: 1090px )
    .arrow-wrapper
        right: 1%
@include respond-to(lg)
    .arrow-wrapper
        right: 4%
    
.border-arrow
    border: 2px solid $white
.border-arrow_black
    border: 2px solid $black
.border-arrow, .border-arrow_black
    background-color: transparent
    width: 48px
    height: 48px
    border-radius: 50%
    position: relative


//background
.background-gradient
    background: linear-gradient(180deg, #232323 0%, #101010 100%)
    color: $white

//icons
.social
    width: 30px
    height: 30px
    border-radius: 5px
.facebook
    background-image: url('./../img/social/social-1.png')
.vk
    background-image: url('./../img/social/social-2.png')
.twitter
    background-image: url('./../img/social/social-3.png')
.instagram
    background-image: url('./../img/social/social-4.png')

//map
iframe.map
    border-top: none

//flex
.j-c-s-b
    display: flex
    justify-content: space-between !important
.f-d-c
    flex-direction: column
//margin
.m-t-0
    margin-top: 0 !important
.m-t-10
    margin-top: 10px !important
.m-t-15
    margin-top: 15px !important
.m-t-25
    margin-top: 25px !important
.m-t-30
    margin-top: 30px
.m-t-50
    margin-top: 50px !important
.m-l-30
    margin-left: 30px
.m-l-10
    margin-left: 10px  
.m-r-0
    margin-right: 0 !important
.m-b-10
    margin-bottom: 10px   


//padding
.p-b-120
    padding-bottom: 120px

//list
.list
    list-style-type: none
    border-left: 1px dashed $black
    margin-left: 30px
    padding: 0
    padding-left: 20px
    &-item
        margin-left: 0
        margin-top: 40px
        font-weight: 300
        position: relative
        &::after
            content: ''
            width: 5px
            height: 5px
            border-radius: 50%
            position: absolute
            border: 1px dashed $black
            left: -24px
            transform: rotate(45deg)
            top: 8px
            transition-property: width, height
            transition: .3s
        &::before
            content: ''
            width: 20px
            height: 20px
            border-radius: 50%
            position: absolute
            background-color: #F6F6F6
            left: -30px
            top: 0px
        &:hover::after
            width: 10px
            height: 10px
            left: -26px
            top: 3px
            transition-property: width, height
            transition: .3s

        &:hover::before
            width: 30px
            height: 30px
            left: -35px
            top: -7px
            
            


//stats-circle
.stats-circle
    position: relative
    top: 30px
    transform: scale(0.9)
    &__img-wrapper
        position: absolute
        top: 50px
        left: 20px
    &__img
        width: 700px
    &__item
        position: absolute
        cursor: default
        text-align: center
        &:hover
            .stats-circle__description, .stats-circle__number
                color: $white
                transition: .3s
            .stats-circle__dot
                &::before, &::after
                    opacity: 1
                    transition: .3s
                    
        &-1
            top: 14px
            left: -34px
            .stats-circle__dot
                right: -55px
                top: 50px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9.5' cy='9.5' r='9.5' fill='%231F1F1F'%3e%3c/circle%3e%3c/svg%3e")
        &-2
            top: 156px
            left: -197px
            .stats-circle__dot
                right: -55px
                top: 50px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9.5' cy='9.5' r='9.5' fill='%231C1C1C'%3e%3c/circle%3e%3c/svg%3e")
        &-3
            top: 355px
            left: -156px
            .stats-circle__dot
                right: -48px
                top: 30px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9.5' cy='9.5' r='9.5' fill='%23191919'%3e%3c/circle%3e%3c/svg%3e")
        &-4
            top: 520px
            left: -80px
            .stats-circle__dot
                right: -36px
                top: 12px
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewbox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9.5' cy='9.5' r='9.5' fill='%23151515'%3e%3c/circle%3e%3c/svg%3e")
    &__number
        font-family: 'Century Gothic B'
        font-style: normal
        font-size: 45px
        color: #3D3D3D
        transition: .3s
    &__description
        font-weight: 300
        font-size: 16px
        line-height: 20px
        margin-top: 0
        color: #3D3D3D
        text-align: center
        transition: .3s
    &__dot
        position: absolute
        width: 19px
        height: 19px
        display: flex
        align-items: center
        justify-content: center
        &::after
            content: ''
            width: 11px
            height: 11px
            position: absolute
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='5.50026' cy='5.50001' r='4.86842' fill='%2328AB57'/%3e%3c/svg%3e ")
            opacity: 0
            transition: .3s
        &::before
            content: ''
            width: 37px
            height: 37px
            position: absolute
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='18.5' cy='18.5' r='18' fill='%23191919' stroke='white' stroke-dasharray='2 2'/%3e%3c/svg%3e")
            opacity: 0
            transition: .3s
@include respond-to(xxl)   
    .stats-circle
        transform: scale(0.7)
        left: 0
@include respond-to(md)  
    .stats-circle
        transform: scale(0.6)
@include respond-to(sm)
    .stats-circle
        display: none
//close
.close
    position: absolute
    width: 25px
    height: 25px
    top: 25px
    right: 25px
    cursor: pointer
    @include background-image('./../img/icons/close.png')

//active
.active
    display: block !important

@include respond-to(lg)
    .subtitle
        font-size: 14px
        line-height: 22px
        margin-top: 0

    .transparent-button
        padding: 14px 0
        font-size: 12px
        width: 150px
    .white-button, .black-button
        padding: 10px 20px
        font-size: 14px
