.equipment-popup
    .container
        .content
            .equipment-popup__content-wrapper#equipment-popup
                img.equipment-popup__img(src="./img/equipment/equipment-1.png", alt="")
                .equipment-popup__info-wrapper
                    .close
                    h4.equipment-popup__title Цветная цифровая печатная машина imagePress C 8000VP
                    .equipment-popup__list
                        ul.list
                            li.list-item  Оптимальная производительность для широкого спектра бумаги, плотностью до 350 г/м²
                            li.list-item Скорость печати до 80 стр./мин, даже при печати больших тиражей и на смешанных видах бумаг
                            li.list-item Высочайшее и стабильное качество цвета от первого до последнего отпечатка
                            li.list-item Яркая печать даже на текстурной бумаге
                            li.list-item Оптимизация глянца в соответствии с глянцем бумаги
                            li.list-item Высокоточное совмещение при дуплексной печати
                            li.list-item Инновационный тонер Consistently Vivid (CV)
                            li.list-item 4 мощных сервера печати на выбор
                            li.list-item Расширенные функции финишной обработки Canon и сторонних производителей
                            li.list-item Исключительные показатели времени непрерывной работы
