section.brochure-type
    .brochure-type__item
        .brochure-type__info-wrapper
            h2.brochure-type__title Брошюра на&nbsp;пружине
            ul.brochure-type__list
                li.brochure-type__list-item Пластиковая пружина
                li.brochure-type__list-item Металлическая пружина
            a.transparent-button.brochure-type__white-button Подробнее
    .brochure-type__item.brochure-type__item-2
        .brochure-type__info-wrapper-2
            h2.brochure-type__title Брошюра на&nbsp;скобе
            a.transparent-button.brochure-type__black-button Подробнее

