section.subtleties
    .container
        .content
            h1.subtleties__title Цифровая печать брошюр
            .subtleties__description-wrapper
                p.subtleties__description Немаловажным фактором при выборе вариантов изготовления брошюр является цветопередачи. 
                                        |В цифровой печати все цвета на брошюрах передаются с невероятной точностью. Неважно большой или повторный тираж печати брошюр, 
                                        |благодаря настройкам, цвета всегда будут насыщенными и яркими.<br><br>Цифровая печать – это идеальное решение для небольших 
                                        |тиражей и срочной печати.
                p.subtleties__description Цифровая печать — изготовление тиражной печатной продукции с помощью «цифрового» 
                                        |оборудования — устройств, печатающих непосредственно из электронных файлов и использующих не офсетную технологию, 
                                        |а технологию прямого нанесения красок (как в принтерах и ризографах).<br><br>Вся наша продукция делается от 1-го 
                                        |экземпляра. Можно заказать печать брошюр по готовому макету клиента или под ключ, включая создание оригинального 
                                        |макета нашим дизайнером
    img(src="./img/subtleties.png", alt="").subtleties__img
