section.form-reviews
    .container
        .content(id='form-reviews')
            h1.form-reviews__title Оставить отзыв
            form.form-reviews__form.form(action="")
                .form-reviews__star-rating
                    .form-reviews__stars-wrapper
                        .form-reviews__star
                            svg(width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19 0L23.2658 13.1287H37.0701L25.9022 21.2426L30.1679 34.3713L19 26.2574L7.83208 34.3713L12.0978 21.2426L0.929926 13.1287H14.7342L19 0Z" fill="#E5E5E5")
                        .form-reviews__star
                            svg(width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19 0L23.2658 13.1287H37.0701L25.9022 21.2426L30.1679 34.3713L19 26.2574L7.83208 34.3713L12.0978 21.2426L0.929926 13.1287H14.7342L19 0Z" fill="#E5E5E5")
                        .form-reviews__star
                            svg(width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19 0L23.2658 13.1287H37.0701L25.9022 21.2426L30.1679 34.3713L19 26.2574L7.83208 34.3713L12.0978 21.2426L0.929926 13.1287H14.7342L19 0Z" fill="#E5E5E5")
                        .form-reviews__star
                            svg(width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19 0L23.2658 13.1287H37.0701L25.9022 21.2426L30.1679 34.3713L19 26.2574L7.83208 34.3713L12.0978 21.2426L0.929926 13.1287H14.7342L19 0Z" fill="#E5E5E5")
                        .form-reviews__star
                            svg(width="38" height="35" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M19 0L23.2658 13.1287H37.0701L25.9022 21.2426L30.1679 34.3713L19 26.2574L7.83208 34.3713L12.0978 21.2426L0.929926 13.1287H14.7342L19 0Z" fill="#E5E5E5")
                    p.form-reviews__star-rating_description Оцените качество нашей работы по пятибальной шкале
                .form-reviews__recommendation
                    p.form-reviews__recommendation_description Рекомендуете ли нас другим: 
                    .form-reviews__recommendation-wrapper
                        input.form-reviews__recommendation_checkbox(type="radio" name="recommendation" id='yes' value='yes')
                        label.form-reviews__recommendation_label(for="yes") Да
                    .form-reviews__recommendation-wrapper
                        input.form-reviews__recommendation_checkbox(type="radio" name="recommendation" id='no' value='no') 
                        label.form-reviews__recommendation_label(for="no") Нет


                .form__inputs-wrapper
                    .form__input-wrapper
                        label.form__label(for="review-name") Имя
                        input#review-name.form__input(type="text" required placeholder='Введите ваше имя')
                        label.form__label.m-t-15(for="review-email") E-mail
                        input#review-email.form__input(type="email" required placeholder='Введите ваш e-mail')
                    .form__input-wrapper
                        label.form__label(for="review-email") Текст отзыва
                        textarea#review.form__input.form-reviews__textarea(name="review" required placeholder='Введите ваш отзыв')
                    .form__input-wrapper
                        label.form__label(for="upload-file") Добавить видео
                        input#upload-file(type="file" name="file" accept="video/mp4,video/x-m4v,video/*")
                        span.form__input.form__file
                            img.form__img(src="./img/icons/file.svg", alt="")
                            |Перетащите файл
                .form__button-wrapper
                    button.black-button.form__button(type='submit') Оставить отзыв
