section.reviews
    .container
        .content
            .reviews__bar
                p.reviews__bar-quantity 1-4 из 10 отзывов
                .reviews__controls-wrapper
                    p.reviews__select-description Сортировать по:
                    select.reviews__select
                        option.reviews__option(value="") Новые
                        option.reviews__option(value="") Старые
                    img.reviews__layout(src="./img/icons/layout.svg", alt="")
            .reviews__item
                p.reviews__name Имя Фамилия
                p.reviews__date 10.09.2020
                .reviews__star-rating
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                p.reviews__info Хочу выразить слова благодарности и признательности в адрес ООО Типографии “Паблит”. От сотрудничества с вашей типографией у нас остаются только самые лучшие впечатления. Все работы выполняются на высшем уровне и в короткие сроки, качество продукции остается превосходным.
                .reviews__recommendation <b>Да,</b> я рекомендую
            .reviews__item
                p.reviews__name Имя Фамилия
                p.reviews__date 10.09.2020
                .reviews__star-rating
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                p.reviews__info Хочу выразить слова благодарности и признательности в адрес ООО Типографии “Паблит”. От сотрудничества с вашей типографией у нас остаются только самые лучшие впечатления. Все работы выполняются на высшем уровне и в короткие сроки, качество продукции остается превосходным.
                .reviews__no-recommendation <b>Нет,</b> я не рекомендую
            .reviews__item
                p.reviews__name Имя Фамилия
                p.reviews__date 10.09.2020
                .reviews__star-rating
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                p.reviews__info Хочу выразить слова благодарности и признательности в адрес ООО Типографии “Паблит”. От сотрудничества с вашей типографией у нас остаются только самые лучшие впечатления. Все работы выполняются на высшем уровне и в короткие сроки, качество продукции остается превосходным.
                .reviews__recommendation <b>Да,</b> я рекомендую
            .reviews__item
                p.reviews__name Имя Фамилия
                p.reviews__date 10.09.2020
                .reviews__star-rating
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                    img(src="./img/icons/star.svg", alt="").reviews__star
                p.reviews__info Хочу выразить слова благодарности и признательности в адрес ООО Типографии “Паблит”. От сотрудничества с вашей типографией у нас остаются только самые лучшие впечатления. Все работы выполняются на высшем уровне и в короткие сроки, качество продукции остается превосходным.
                .reviews__recommendation <b>Да,</b> я рекомендую
            .reviews__button-wrapper
                a.white-button Показать еще