section.video-reviews
    .container
        .content
            h1.video-reviews__title  Видео отзывы
            .video-reviews__items-wrapper.video-reviews__items-wrapper_active
                button.video-reviews__item-wrapper(data-reviews-src='https://www.youtube.com/embed/2OEL4P1Rz04')
                    img.video-reviews__item(src="./img/video/video-reviews-1.png", alt="")
                button.video-reviews__item-wrapper(data-reviews-src='https://www.youtube.com/embed/X_3MmFX3FYo')
                    img.video-reviews__item(src="./img/video/video-reviews-1.png", alt="")
                button.video-reviews__item-wrapper(data-reviews-src='https://www.youtube.com/embed/X_3MmFX3FYo')
                    img.video-reviews__item(src="./img/video/video-reviews-1.png", alt="")
                button.video-reviews__item-wrapper(data-reviews-src='https://www.youtube.com/embed/2OEL4P1Rz04')
                    img.video-reviews__item(src="./img/video/video-reviews-1.png", alt="")
                button.video-reviews__item-wrapper(data-reviews-src='https://www.youtube.com/embed/2OEL4P1Rz04')
                    img.video-reviews__item(src="./img/video/video-reviews-1.png", alt="")
                button.video-reviews__item-wrapper_more(data-reviews-src='https://www.youtube.com/embed/X_3MmFX3FYo')
                    img.video-reviews__item_more(src="./img/video/video-reviews-1.png", alt="")
                    .arrow-wrapper.video-reviews__arrow
                        .border-arrow
                            .arrow.arrow__big
            .video-reviews__items-wrapper
                button.video-reviews__item-wrapper(data-reviews-src='https://www.youtube.com/watch?v=_4kHxtiuML0')
                    img.video-reviews__item(src="./img/video/video-reviews-1.png", alt="")
                button.video-reviews__item-wrapper(data-reviews-src='https://www.youtube.com/embed/X_3MmFX3FYo')
                    img.video-reviews__item(src="./img/video/video-reviews-1.png", alt="")
                button.video-reviews__item-wrapper(data-reviews-src='https://www.youtube.com/watch?v=_4kHxtiuML0')
                    img.video-reviews__item(src="./img/video/video-reviews-1.png", alt="")
                button.video-reviews__item-wrapper(data-reviews-src='https://www.youtube.com/embed/2OEL4P1Rz04')
                    img.video-reviews__item(src="./img/video/video-reviews-1.png", alt="")
                button.video-reviews__item-wrapper(data-reviews-src='https://www.youtube.com/watch?v=_4kHxtiuML0')
                    img.video-reviews__item(src="./img/video/video-reviews-1.png", alt="")
                button.video-reviews__item-wrapper_more(data-reviews-src='https://www.youtube.com/embed/X_3MmFX3FYo')
                    img.video-reviews__item_more(src="./img/video/video-reviews-1.png", alt="")
                    .arrow-wrapper.video-reviews__arrow
                        .border-arrow
                            .arrow.arrow__big

.video.video-reviews__full-video
    .container
        .content
            .video__player-wrapper.js-videoWrapper.active
                iframe#video-reviews__full.video__iframe.js-videoIframe(src='', frameborder='0', allowtransparency='true', allowfullscreen='', data-src='https://www.youtube.com/embed/2OEL4P1Rz04')
                button.video__poster.js-videoPoster