section.cards
    .container
        .content
            a(href="#").cards__item
                img(src="./img/cards/cards-1.png", alt="").cards__img
                .cards__title-wrapper
                    h4.cards__title Оборудование
                    .arrow_black.cards__arrow
                .cards__description Только проверенное оборудование
            a(href="#").cards__item
                img(src="./img/cards/cards-2.png", alt="").cards__img
                .cards__title-wrapper
                    h4.cards__title Партнеры
                    .arrow_black.cards__arrow
                .cards__description Выстраиваем долгосрочные<br>партнерские отношения
            a(href="#").cards__item
                img(src="./img/cards/cards-3.png", alt="").cards__img
                .cards__title-wrapper
                    h4.cards__title Миссия
                    .arrow_black.cards__arrow
                .cards__description Наши книги приятно читать
            a(href="#").cards__item.cards__item_black
                .cards__img
                    svg(width='82', height='67', viewbox='0 0 82 67', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M40.8439 38.127C33.4207 38.127 28.4719 34.1926 26.9254 32.2253C24.6056 32.2253 21.126 33.4057 17.0664 39.8975C13.8188 45.0909 13.7801 53.0778 14.1667 56.4221C14.36 57.6024 15.2106 60.4352 17.0664 62.3237C18.9222 64.2122 22.0925 65.0778 23.4457 65.2745C35.0445 65.4712 58.8219 65.7467 61.1417 65.2745C64.0414 64.6844 67.521 61.7335 68.6809 56.4221C69.6088 52.1729 68.2942 46.7827 67.521 44.6188C67.1344 42.4548 65.5492 37.5368 62.3015 35.1762C59.0539 32.8155 55.9222 32.2253 54.7624 32.2253C53.2159 34.1926 48.2671 38.127 40.8439 38.127Z', stroke='white', stroke-width='1.5')
                        circle(cx='40.7248', cy='15.5705', r='14.3556', stroke='white', stroke-width='1.5')
                        path(d='M16.0002 24.5C11.8335 25.8333 4.96087 31.3035 2.00049 39C-0.499661 45.5 2.00024 53 7.00024 56', stroke='white', stroke-width='1.5')
                        path(d='M66.0194 24.5C70.186 25.8333 77.0587 31.3035 80.019 39C82.5192 45.5 80.0193 53 75.0193 56', stroke='white', stroke-width='1.5')
                .cards__title-wrapper
                    h4.cards__title Оборудование
                    .arrow.cards__arrow
                .cards__description Только проверенное оборудование