.demands
    .container
        .content
            h1.demands__title Требования к макетам
            p.demands__subtitle.subtitle Перед тем, как направить нам макет, проверьте, верно ли вы подготовили его для печати. Правильная допечатная подготовка экономит много времени.
            .demands__items-wrapper
                p.demands__item <b>Форматы</b>
                    img.demands__icon(src="./img/icons/demands-1.png", alt="")
                    img.demands__icon(src="./img/icons/demands-2.png", alt="")
                    img.demands__icon(src="./img/icons/demands-3.png", alt="")
                    img.demands__icon(src="./img/icons/demands-4.png", alt="")
                    img.demands__icon(src="./img/icons/demands-5.png", alt="")
                    |pdf, tiff, Ai, SVG, cdr
                p.demands__item <b>Разрешение&nbsp;</b> (для растра) - 300 dpi
                p.demands__item <b>Цветность&nbsp;</b> - CMYK (100% black)
                p.demands__item <b>Вылеты&nbsp;</b> - 5мм
                p.demands__item <b>Макет блока&nbsp;</b> - постраничный вид
                p.demands__item <b>Макет обложки / переплета&nbsp;</b> - разворотный вид
