section.reading
    .container
        .content
            .reading__black-bar
                h1.reading__title Комфортное чтение
            .reading__img-wrapper
                .reading__info-wrapper
                    p.reading__description Наши книги комфортно читать<br>где угодно, когда угодно
                    a.black-button.reading__button Заказать
                .reading__img-1
                .reading__img-2
                .reading__img-3