.seo-text.company__seo-text
    .container
        .content
            h2.seo-text__title О типографии
            p.seo-text__description <b>Типография «Паблит» - современное полиграфическое предприятие, ориентированное на производство книг малыми тиражами</b><br><br><br>
                                    |Мы печатаем книги, журналы и брошюры малыми тиражами (от 4 экземпляров), что бы помочь издательствам, учебным заведениям и корпоративным клиентам минимизировать затраты на полиграфию, сократить товарный запас и снизить риски. 
            p.seo-text__description <b>Что мы сделали за 4 года работы:</b>
            ul.seo-text__list
                li.seo-text__list-item Оборудовали типографию современными цифровыми печатными машинами OCE и Canon;<br>
                li.seo-text__list-item Наладили производство и выпускаем до 5000 книг в твердом и мягком переплете за смену;<br>
                li.seo-text__list-item Организовали полный комплекс услуг: редактура, дизайн, верстка, хранение и доставка книг;<br>
                li.seo-text__list-item Стали сотрудничать со многими московскими издательствами, учебными заведениями и корпоративными клиентами.
            p.seo-text__description Готовы предложить вам индивидуальный подход и печать по требованию.
