section.team
    .container
        .content
            h1.team__title Команда 
            p.team__subtitle.subtitle Только квалифицированные специалисты с многолетним опытом в<br>сфере типографии
            .team__items-wrapper
                .team__item
                    img.team__img(src="./img/team/team-1.png", alt="")
                    .team__name Фамилия Имя
                    .team__description Должность, опыт работы
                .team__item
                    img.team__img(src="./img/team/team-1.png", alt="")
                    .team__name Фамилия Имя
                    .team__description Должность, опыт работы
                .team__item
                    img.team__img(src="./img/team/team-1.png", alt="")
                    .team__name Фамилия Имя
                    .team__description Должность, опыт работы
                .team__item
                    img.team__img(src="./img/team/team-1.png", alt="")
                    .team__name Фамилия Имя
                    .team__description Должность, опыт работы
        .arrow-wrapper.reviews__arrow
            .border-arrow_black
                .arrow_black.arrow__big