.hat.companies
    //= ../header.pug
    .container
        .content
            .hat__info
                h1.hat__title.authors__title Изготовление рекламной продукции
                p.hat__subtitle.subtitle Визитки, календари, листовки, буклеты, брошюры, блокноты. <b>Весь список</b>
                a.hat__button.white-button(href="#") Заказать
            .hat__buttons-wrapper
                    a.hat__button.transparent-button(href="./authors.html") Авторам
                        .arrow
                    a.hat__button.transparent-button(href="./publishing-houses.html") Издательствам
                        .arrow
                    a.hat__button.transparent-button(href="./companies.html") Компаниям
                        .arrow