section.production
    .container
        .content
            h1.production__titile Полный цикл производства 
            p.production__subtitle.subtitle от дизайна до постпечатной обработки
            .production__item
                img.production__img(src="./img/production/production-1.png", alt="")
                .production__description-wrapper
                    p.production__description <b>Визитки.</b>Делаются по макетам клиентов или разрабатываются дизайнерами компании
                    p.production__description <b>Календари.</b> Сувенирная продукция, которая будет напоминать клиенту о вашем бренде весь год.
                    p.production__description <b>Рекламные буклеты, брошюры.</b> Яркие изображения, четкий текст донесут до клиента преимущества вашего товара или услуги.
                    p.production__description <b>Каталоги, приглашения.</b> Полноцветные каталоги расскажут о продукции вашего предприятия, фото или художественной выставке.
                    a.transparent-button.production__button Смотреть примеры

            h1.production__titile Цифровая печать
            .production__item.production__item-2
                .production__description-wrapper
                    p.production__description-2 От визитки до книги, от конверта до брошюры
                    p.production__description-2 Разработка уникального дизайна продукции
                    p.production__description-2 Высокое качество печати
                    p.production__description-2 Выбор любой постпечатной обработки
                    p.production__description-2 Адекватные цены
                    a.transparent-button.production__button Заказать
                img.production__img(src="./img/production/production-2.png", alt="")
