head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Компания
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='css/main.css')
body
    //= templates/company/hat.pug
    //= templates/company/cards.pug
    //= templates/company/seo-text.pug
    //= templates/video.pug
    //= templates/company/advantages.pug
    //= templates/company/reading.pug
    //= templates/company/demands.pug
    //= templates/company/team.pug
    //= templates/equipment.pug
    //= templates/partners.pug
    //= templates/gratitude.pug
    //= templates/questions.pug
    //= templates/seo-text.pug
    //= templates/contacts.pug
    //= templates/footer.pug
    //= templates/black-bar.pug

    script(src='js/main.js')