.hat
    .container
        .content
            .hat__info
                h1.hat__title Печать книг и&nbsp;журналов
                p.hat__subtitle.subtitle Индивидуально. Креативно. Профессионально
                a.hat__button.white-button(href="#") Заказать
            .hat__buttons-wrapper
                    a.hat__button.transparent-button(href="./authors.html") Авторам
                        .arrow
                    a.hat__button.transparent-button(href="") Издательствам
                        .arrow
                    a.hat__button.transparent-button(href="") Компаниям
                        .arrow
